.title {
  font-size: 24px;
  font-weight: 700;
}

.daily-item {
  background-color: #333;
  border-radius: 16px;
  height: 40px;
  margin: 5px;
  display: flex;
  align-items: center;
  cursor: pointer;
  font-size: 16px;
  padding: 5px 20px;
}

.icon-small {
  width: 40px;
}

.day {
  color: #fff;
  flex: 1 1;
  font-weight: 600;
  margin-left: 50px;
}

.description {
  flex: 1 1;
  margin-right: 15px;
  text-align: right;
  color: #fff;
}

.min-max {
  color: #757575
}

.arrow {
  margin-left: 8px;
}

.daily-details-grid {
  display: grid;
  grid-row-gap: 0;
  grid-column-gap: 15px;
  row-gap: 0;
  column-gap: 15px;
  flex: 1 1;
  grid-template-columns: auto auto;
  padding: 5px 15px;
}

.dailt-details-grid-item {
  display: flex;
  height: 30px;
  justify-content: space-between;
  align-items: center;
  margin: 5px;
  padding-left: 10px;
}

.dailt-details-grid-item label:first-child {
  color: #000;
  font-weight: 400;
}

.dailt-details-grid-item label:last-child {
  color: #212121;
}